@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
.App {
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
    background-color: #001b50;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: 0 0 20px rgb(52, 65, 179);
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(29, 76, 168);
    border-radius: 10px;
  }